RewriteEngine on

# Rewrite any request to corresponding HTML files
RewriteCond %{REQUEST_FILENAME} !-d

# Check html file exists
RewriteCond %{REQUEST_FILENAME}\.html -f

RewriteRule ^(.*)$ $1.html

Options -Indexes

