/* ====================== SIDEBAR ====================== 
Note: The sidebar is made up of two parts:
1. id=sidebar: A 250px wide div actually containing the sidebar content.
Its position is absolute and the only thing that changes is the width.
This is so that it can display on top of the content in smaller screen
sizes. 
2. id=sidebar-hitbox: A 250px wide div underneath id=sidebar. It is responsible
for pushing away the content in larger screen sizes, and disappears on smaller
screen sizes.
Separating the two also allows smooth transitions. Setting the position of
id=sidebar to absolute only on smaller screen sizes would replicate most of
the functionality, but introduces significant choppiness and unwanted
transitions while resizing.
*/

#sidebar-hitbox {
    width: 250px;
    min-width: 250px;
    transition: 0.3s;
}

/* Container for the entire flexbox */
#sidebar {
    display: flex;
    flex-shrink: 0; /* Otherwise pushed off page */
    flex-direction: column;
    position: absolute;
    width: 250px;
    transition: 0.3s;

    height: calc(100% - 60px); /*100% of page-container*/

    overflow: hidden;
    background-color: #5D6770;
    box-shadow: 5px 0 5px -2px gray;

}
#sidebar>* {
    color: white;
}

/* User Profile */
#sidebar-user { /* Container for the choice */
    flex-direction: row;
    height: 70px;
}
#sidebar-user-img {
    margin: 0 10px 0 5px;
    height: 70%; /* (of sidebar-user) MUST BE SQUARE */
    border-radius: 50%;
}
#sidebar-user-text {
    margin: 0 10px;
}
#userrole {
    font-size: 0.8rem;
}

/* Styles for elements forming ONE OPTION in the sidebar */
.sidebar-item { /* Container for an option */
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: center;
    height: 50px;
    width: 230px;
    margin: 0 10px;
    border-radius: 5px;

    text-decoration: none;
    font-size: 1.3rem;
}
.sidebar-item-tick { /* Inside sidebar-item */
    flex-shrink: 0;
    height: 100%;
    width: 7px;
    border-radius: 5px;

    background-color: #5D6770;
}
.sidebar-item-svg { /* Inside sidebar-item */
    flex-shrink: 0;
    height: auto;
    width: 35px;
    padding-left: 10px;
}
.sidebar-item-text { /* Inside sidebar-item */
    display: flex;
    flex-shrink: 0;
    height: 100%;
    align-items: center;
    padding: 0 10px;
}

/* Sidebar option interaction management */
.sidebar-current {
    background-color: #43484d;
}
.sidebar-current .sidebar-item-tick {
    background-color: #2f3133;
}
.sidebar-item:hover {
    background-color: #323436;
}
.sidebar-item:hover .sidebar-item-tick {
    background-color: #202122;
}

@media screen and (max-width: 1090px) {
    /* In tablet- mode, sidebar goes over content
    rather than displacing */
    #sidebar {
        overflow: hidden !important;
        position: absolute !important;
        height: calc(100% - 60px) !important; /* 100 - header hight */
    }
    #sidebar-hitbox {
        min-width: 0;
        width: 0;
    }
    /* Sidebar can only be closed in tablet- mode */
    .sidebar-closed {
        width: 0 !important;
    }
}