/* Widths when in tablet & phone mode */
@media screen and (max-width: 589px) {
    .col-s-1  {width: 08.33%;}
    .col-s-2  {width: 16.66%;}
    .col-s-3  {width: 25.00%;}
    .col-s-4  {width: 33.33%;}
    .col-s-5  {width: 41.66%;}
    .col-s-6  {width: 50.00%;}
    .col-s-7  {width: 58.33%;}
    .col-s-8  {width: 66.66%;}
    .col-s-9  {width: 75.00%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100.0%;}
}

/* Widths when in desktop mode */
@media screen and (min-width: 590px) {
    .col-1  {width: 08.33%;}
    .col-2  {width: 16.66%;}
    .col-3  {width: 25.00%;}
    .col-4  {width: 33.33%;}
    .col-5  {width: 41.66%;}
    .col-6  {width: 50.00%;}
    .col-7  {width: 58.33%;}
    .col-8  {width: 66.66%;}
    .col-9  {width: 75.00%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100.0%;}
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px; /* Theoretically already default but just in case */
    min-width: 480px;
}

.bold {
    font-weight: bold;
}

#page-container {
    display: flex;
    height: calc(100vh - 60px);
    overflow: hidden;
}

/* ====================== CONTENT ====================== */
#content-area { /* Container for the content */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    overflow-y: auto; /*scrollbar*/
    transition: 0.3s;
}

@media screen and (max-width: 649px) {
    #content-area {
        padding: 20px 3px;
    }
}