#Random
.git/
.DS_Store
tmp/
__pycache__/

#Eclipse
.project
.classpath

metadata/
.metadata/
.settings/
bin/

#IntelliJ
.idea/
.idea/*
*.iml
out/

#Visual studio / VS Code
.vs/
Debug/
.vscode/
*.sln
*.vcxproj
*.vcxproj*
*.code-workspace

#Project Specific
lib/
turnDebug/
output.log
/venv/
*.db
session-storage/

#Checkstyle
.checkstyle
/style
